@media only screen and (min-width: 64em) {
    /*nav*/
nav button {
    display: none;
  }
nav ul#primaryNav {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    bottom: 11em;
    left: 9em;
    }
main .box1{    
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box1 img{
    grid-column: 1/2;
    margin: 0;
}


.box1 h2{
    grid-column: 2/3;
    grid-row-start: 1;
    margin-bottom: 12em;
}
.box1 p{
    grid-column: 2/3;
    grid-row-end: 2;
    margin-top: 3em;
    text-align: left;
    margin-right: 3em;
}
.box1 .btnget{
    grid-column: 2/3;
    grid-row: 2/3;
}
.box1 h2.drinks{
    grid-row: 2/3;
}
.box2 p{
    padding-right:8em ;
    padding-left:8em ;
}
}
