header{
    background-color: #E3AE1A;
    width:100%;
    height: 200px;
}

figure.logo img{
    height: 150px; 
    display: block; 
    float: left;
    
}

h1{
    text-align: center;
    padding-top: 2em;
    font-family:'Permanent Marker', cursive;
    font-size: 1.5em;
}

