@media only screen and (min-width: 32.5em){
    main{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    h1{
        font-size: 80px;
    }
    h3{
        text-align: center;
        font-size:20px ;
    }
    #first, #second, #third p{
        font-size: 18px;
    
    }s
}