@media only screen and (min-width:32.5em) {

    h1 {
        font-size: 60px;
      }
    h2 {
        font-size: 35px;
      }
    h3 {
        font-size: 30px;
      }
    h4 {
        font-size: 27px;
      }
    p {
        width: 100%;
        font-size: 20px;
        padding-bottom:10px;
      }

    .block3 img {
        width: 55%;
      }
    .block2 img {
        width: 35%;
      }
    .block1 img {
        width: 100%;
      }

    li{
      padding:10px;
    }
    }
    
