body {
    background-color: #F7EDE2;
    width: 60%;
    margin: 0 auto;
}

header {
    width: 90%;
    background-color: #84A59D;
    display: flex;
	flex-flow: column;
	align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

nav{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

nav ul li a{
    display: block;
    text-decoration: none;
    font-size: 22px;
    font-family: "Libre Franklin", sans-serif;
    text-align: center;
    margin-top: 5px;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

 a:link{
     padding: 20px;
 }

 a:hover{
    background-color: #84A59D;
    opacity: 80%;
    border-radius: 20px;
 }

main{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:0 auto;
    text-align:left;
}
h1{ 
    font-family: 'Abril Fatface', serif;
    font-weight:500;
    font-size: 40px;
}

h2{
     font-size: 30px;
     font-family: "Libre Franklin", sans-serif;
     font-weight: 200;
 }

 h3{
     font-size: 30px;
     font-family: "Playfair Display", serif;
 }

 h4{
     font-size: 27px;
 }

 p{
     width: 100%;
     font-size: 20px;
     font-family: "Libre Franklin", sans-serif;
     margin: 0 auto;
     padding-bottom:10px;
 }

section.block3 img{
    width: 15em;
    height: auto;
    padding: 2%;
 }
 section.block2 img{
    width: 15em;
    height: auto;
    padding: 2%;
 }
section.block1 img{
    width: 100%;
    border: 2px solid black;
 }

.smallpart{
     font-size: 30px;
 }

 main h2{
    font-family: "Playfair Display", serif;
 }

.first{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
}

.second{
    font-family: 'Almarai', sans-serif;
    font-size: 25px;
 }

.third{
    font-family: 'Libre Bodoni', serif;
    font-size: 37px;
 }
.fourth{
    font-family: 'Abril Fatface', serif;
    font-weight:600;
    font-size: 80px;
 }

.fifth{
    font-family: 'Old Standard TT';
    font-style: italic;
    font-size: 30px;
}

footer {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: #FAD8BC;
 }

footer p{
    font-family: "Playfair Display", serif;
    font-size: 20px;
   }
 



