table{
    border-collapse: collapse;
    width: auto;
    margin: 60px auto;
    font-size: 18px;
    border: 1.5px solid rgb(108, 97, 97);
}

table tr.second th{
    border: 1px solid rgb(159, 158, 158);
}
tr, td{
    border: 1px solid rgb(159, 158, 158);
}
table tr th.first{
    text-align: center;
    font-size: 20px;
    padding: 5px;

}
table tr th{
    text-align: center;
    padding: 8px;
}
table tr{
    text-align: center;
    
}
tr:nth-child(1) {
    background-color: #fab8a2;
}

tr:nth-child(4) {
    background-color: #e7d090;
}
table tr.second th:nth-child(1){
    background-color: #fab8a2;  
}




 
