body{
  margin: 0 auto;
  background-color: rgba(255, 249, 241, 0.49);
}
/*--------Banner---------*/
div.banner{
  width: 100%;
  background-color: #f4e8c195;
  margin: 0;
	position: relative;
}
.banner .bannerbox{
  text-align: center;
  margin: 0 auto;
}
.banner .bannerbox .bannertext{
  padding: 20px 20px 20px 0;
  color: #031d44;
  font-size: 15px;
}

/*--------header---------*/

header {
 background-color: #031d44;
 justify-content: center;
}
figure.logo img{
  height: 8em;
  display: block;
  float: left;
}

h1{
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  padding-top: 1em;

}
h1 span{
  color: white;
  font-family: 'Old Standard TT', serif;
  font-size: 15px;
  font-style: italic;
}
body .date{
  width: 60%;
  margin: 0 auto;
}
div.date{
  width: auto ;
  padding: 12px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;

}

/*--------navigation---------*/
nav {
  background-color: #031d44;
  grid-column: 4/5 ;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}

nav button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: white;
  margin-left: 10em;
  position: relative;
  bottom:2em ;
}

nav ul.open {
  display:block;
}

#hambButton span:nth-child(1) {
  display: block;
}
#hambButton span:nth-child(2) {
  display:none;
}

#hambButton.open span:nth-child(1) {
  display: none;
}
#hambButton.open span:nth-child(2) {
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

nav ul li a {
  display: block;
  padding: 0.5rem 1.5vw;
  text-decoration: none;
  color: white;
  font-family: "Almarai", sans-serif;
  font-size: 18px;
  text-align: center;
}
a#fb img {
  width: 30px;
}
a#in img {
  width: 30px;
}
a:hover {
  color: #e1c196;
}
.date{
  width: auto;
  margin: 0 auto;
	background-color: #1f3c67;
  color: white;
  font-family: 'Almarai', sans-serif;
  font-size: 15px;
  text-align: center;
  padding-top: 5px; 
}

/*---------main-----------*/

main{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box2, .box3, .box4{
  background-color: #B1CDEC;
}
.box2, .box3, .box4, .box5, .box6 p{
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}
/*container div boxes*/
main{
  display:flex;
  flex-direction: column;
}
/*div boxes*/
/*box1 Welcome to Concise*/
main div.box1{
  padding: 0;
  height: 300px;
  
}
main div.box1 img{
  width:100%;
  height: 100%;
  object-fit: cover;
}
div.box1 h2{
  background-color: rgba(240, 255, 255, 0.494);
  width: 60%;
  font-family: "Almarai", sans-serif;
  font-size: 25px;
  padding:12px 20px 12px 20px;
  color: #3d577e;
  text-align: right;
  position: relative;
  bottom:7em;
}

div.box1 .Btnjoin{
  margin: 0 auto;
  position: relative;
  bottom:12em;
}
.Btnjoin{
  background-color: #031D44;
  text-align: center;
  padding:20px 18px;
  border-radius: 15px;
  width: 8em;
}

.Btnjoin a{
  text-decoration: none;
  color:white;
}
.Btnjoin a:hover{
  color: #e1c196;
}

/*box2 Ribbon Cutting*/
main div.box2{
  padding: 0;
  margin: 0;
}
div.box2 p{
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

h3{
  text-align: center;
  color:#031d44;
  font-size: 37px;
}
a.plusinfo{
  color:#7d0202;
  font-size: 18px;
}
/*box3 Weather*/
.box3{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
p.clima span{
  font-size: 76px;
}
p.clima{
  font-size: 46px;
  margin: 0;
}
p.cloud{
  font-size: 35px;
}
.box3 p.speedW{
  position: relative;
  bottom: 2em;
  
}

/*box4 New Releases*/

.box4{
  text-align: center;
  padding: 15px;
}

/*box5 spotlight*/
div.box5{
  margin: 0;
  display: flex;
  flex-direction: column;
}

div.box5 .spotlight1, .spotlight2, .spotlight3{
  background-color: #B1CDEC;
}

  /*spotlight 1*/

p.transport{
  font-size: 50px;
  margin: 0;
  text-align: center;
}
.box5 h3 {
  text-align: center;
  padding-top: 20px;
}
.spotlight1 p.getit{
  text-align: center;
}
.spotlight1 p.email{
  text-align: center;
  padding-bottom: 1em;
}

   /*spotlight 2  code primera*/
div.spotlight2{
  margin: 0;
}
.box5 div.spotlight2 img{
  width: 20%;
  margin-left: 35%;
}
.spotlight2 p{
  text-align: center;
}

  /*spotlight 3*/

div.spotlight3{
  display: none;
}
.box6{
  background-color: #B1CDEC;
  display: none;
}

/*----------footer----------*/

footer {
  margin: 0;
  background-color: #dab785;
}
footer h1{
  margin: 0 auto;
  text-align: left;
  font-size: 26px;
}
footer h1 span{
  position: relative;
  bottom: .4em;
  font-size: 18px;
}
div.address{
  text-align: center;
  margin: 0 auto;
}
div.address p{
  font-size: 18px;
  text-align: center;
}
div.information {
  text-align: center;
  font-size: 18px;
  
}
a#map{
  text-decoration: none;
  color: black;
}

.footerbox2{
  text-align: center;
  padding:10px 5px 10px 5px;
  font-size: 15px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*----------DISCOVER----------*/
/*container2- DIV discover*/
body main#container2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#discover{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#discover p{
  width: 60%;
  text-align: center;
  padding-bottom: 5px;
}

/*placeholder*/
picture img [data-src]{
  filter:blur(4px)
}
div.storage p {
  text-align: center;
  margin: 0 auto;
}
div.storage p span.label{
  width: auto;
  font-size: 20px;
  font-weight:bold;
}

/*----------- FORM --------------*/
main#joinbox{
  width: auto;
}
form{
  display: flex;
  flex-direction: column;
}
form fieldset{
    max-width: 400px;
    border: 1px solid #031d44;
    border-radius: 5px;
    padding: .5rem 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .9rem;
    font-family: Arial, Helvetica, sans-serif;
}
form legend{
    color: #031d44;
    font-size: 20px;
    margin: auto 5rem;
    padding: 0 .5rem;
    max-width: 300px;
}
form label.top, form div{
  display: block;
  padding-top: 1rem;
  color: #031d44;
  font-size: 15px;
}
form label.top input, form label.top select{
    -webkit-appearance: none;
    display: block;
    min-width: 93%;
    font-size: 1rem;
    border: solid 1px rgb(230, 230, 230);
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    background-color: rgba(0, 0, 0, 0.1);
} 
form label.mid{
  display: block;
  padding:.8rem 0;
  color: #555;
}
form label textarea{
  width: 100%;
  max-width: 100%;
}
form input.submitBtn{
  border: none;
  background-color: #031d44;
  border-radius: 1rem;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;
  max-width: 20rem;
}
div.BtnSubJoin{
  display: block;
  margin: 0 auto 20px;
}


form label.top input:required{
  border-left: rgb(183, 51, 51) solid 6px;
}

form label.top input:required:valid{
  border-left:green solid 6px;
}

form #meeting-time{
  border: 2px solid black;
  margin: 30px auto;
}

/*----------- Join section --------------*/

main#joinbox{
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

/*-------------Table----------------*/
table{
  border-collapse: collapse;
  width: auto;
  margin: 60px auto;
  font-size: 25px;
  border: 1.5px solid rgb(108, 97, 97);
}

table tr.second th{
  border: 1px solid #031d4467;
}
tr, td{
  border: 1px solid #031d4467;
}
table tr th.first{
  text-align: center;
  font-size: 25px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
table tr th{
  text-align: center;
  padding: 8px;
}


table tr{
  text-align: center;
  
}
tr:nth-child(1) {
  background-color: #031d44;
  color: white;
}

tr:nth-child(6) {
  background-color: #e7d090;
}
table tr.second th:nth-child(1){
  background-color: #031d44;  
}
main.thanks{
  display: flex;
  flex-direction: column;

}
main.thanks h1{
  color: #031D44;
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
}

/*directory*/

.cards{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  column-gap: 10px;
}

.cards p{
  font-size: 20px;
}


