body{
  margin: 0 auto;
}

/*--------header---------*/

header {
 background-color: #031d44;
 justify-content: center;
}
figure.logo img{
  height: 8em;
  display: block;
  float: left;
}

h1{
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  padding-top: 1em;

}
h1 span{
  color: white;
  font-family: 'Old Standard TT', serif;
  font-size: 15px;
  font-style: italic;
}
body .date{
  width: 60%;
  margin: 0 auto;
}
div.date{
  width: auto ;
  padding: 12px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;

}

/*--------navigation---------*/
nav {
  background-color: #031d44;
  grid-column: 4/5 ;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}

nav button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: white;
  margin-left: 10em;
  position: relative;
  bottom:2em ;
}

nav ul.open {
  display:block;
}

#hambButton span:nth-child(1) {
  display: block;
}
#hambButton span:nth-child(2) {
  display:none;
}

#hambButton.open span:nth-child(1) {
  display: none;
}
#hambButton.open span:nth-child(2) {
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

nav ul li a {
  display: block;
  padding: 0.5rem 1.5vw;
  text-decoration: none;
  color: white;
  font-family: "Almarai", sans-serif;
  font-size: 18px;
  text-align: center;
}
a#fb img {
  width: 30px;
}
a#in img {
  width: 30px;
}
a:hover {
  color: #e1c196;
}
.date{
  width: auto;
  margin: 0 auto;
	background-color: #1f3c67;
  color: white;
  font-family: 'Almarai', sans-serif;
  font-size: 15px;
  text-align: center;
  padding-top: 5px; 
}

/*---------main-----------*/

main{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box2, .box3, .box4{
  background-color: #B1CDEC;
}
/*container div boxes*/
main{
  display:flex;
  flex-direction: column;
  margin: 2% 0 2% 0;

}
/*div boxes*/
/*box1 Welcome to Concise*/
div.box1{
  padding: 0;
}
div.box1 img{
  width:100%;
  padding-top: 10px;
}
.box1 h2{
  background-color: rgba(240, 255, 255, 0.494);
  width: 60%;
  font-family: "Almarai", sans-serif;
  font-size: 25px;
  padding:12px 20px 12px 20px;
  color: #3d577e;
  text-align: right;
  position: relative;
  bottom:7em;
}

.box1 .Btnjoin{
  margin: 0 auto;
  position: relative;
  bottom:12em;
}
.Btnjoin{
  background-color: #031D44;
  text-align: center;
  padding:20px 18px;
  border-radius: 15px;
  width: 8em;
}

.Btnjoin a{
  text-decoration: none;
  color:white;
}
.Btnjoin a:hover{
  color: #e1c196;
}

/*box2 Ribbon Cutting*/

div.box2 p{
  margin: 0 auto;
  width: 80%;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}

h3{
  text-align: center;
  color:#031d44;
  font-size: 37px;
  margin: 20px;
}
a.plusinfo{
  color:#7d0202;
  font-size: 18px;
}
/*box3 Weather*/
.box3{
  width: 100%;
  height:auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
p.clima span{
  font-size: 76px;
}
p.clima{
  font-size: 46px;
  margin: 0;
}
p.cloud{
  font-size: 35px;
}
.box3 p.speedW{
  font-size: 19px;
  position: relative;
  bottom: 2em;
  
}

/*box4 New Releases*/

.box4{
  text-align: center;
  padding: 15px;
}
.box4 p{
  font-size: 15px;
}
/*box5 spotlight*/
div.box5{
  height:auto;
}

div.box5 .spotlight1, .spotlight2, .spotlight3{
  background-color: #B1CDEC;
}
p.transport{
  font-size: 50px;
  margin: 0;
  text-align: center;
}
.box5 h3 {
  text-align: center;
  padding-top: 20px;
}
.spotlight1 p.getit{
  text-align: center;
  font-size: 15px;
}
.spotlight1 p.email{
  text-align: center;
  padding-bottom: 1em;
  font-size: 15px;
}
.box5 div.spotlight2 img{
  width: 20%;
  margin-left: 35%;
}
.spotlight2 p{
  text-align: center;
  font-size: 15px;
  padding-bottom: 1em;
}
div.spotlight3{
  display: none;
}
.box6{
  background-color: #B1CDEC;
  display: none;
}

/*----------footer----------*/

footer {
  background-color: #dab785;
  text-align: center;
  font-size: 15px;
}
 footer figure.logo img{
   margin: 0;
}
footer h1{
  text-align: center;
  font-size: 26px;
  float: ri;
  padding-top: 3.5em;
  padding-right: 5.5em;
}
div.address span{
  position: relative;
  right: 45px;
}
div.information {
  text-align: center;
  
}
a#map{
  text-decoration: none;
  color: black;
}

.footerbox2{
  padding:10px 5px 10px 5px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


