@media only screen and (min-width: 32.5em) {
  body {
    width: 100%;
    margin: auto;
  }
  
  header {
   padding-right: 2%; 
  }

  h1 {
      font-size: 55px;
      font-family: "Playfair Display", serif;
    }

  h2 {
    font-size: 30px;
  }
  img {
    border: 4px solid #fefae0;
    height: 200px;
  }

  #imph{
    display: flex;
    justify-content: center;
  }

  ul {
    font-size: 40px;
  }

  footer {
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
  }
  p{
    font-size: 20px;
  }
}
