
@charset "UTF-8";
header {
    background-color: #BC6C25;
    width:100%;
    border-radius: 15px;
}

#imph {
    display: flex;
    justify-content: center;   
}

img {
    height: 320px;
    padding-left: 100px;
    margin:10px;
} 

h1 {
    text-align: center; 
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #FEFAE0;
    padding: 100px;
    

}

h2{
    padding: 10px;
    font-size: 30px;
    font-family: 'Libre Franklin', sans-serif;
    color: #283618;
}

ul{
    color: #283618;
    font-family: 'Nanum Gothic', sans-serif;
}

footer{
    background-color: #BC6C25;
    color: #FEFAE0;
    font-family: 'Playfair Display', serif;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
